*{
    box-sizing: border-box;
}

body{
    background: url("./sauroneye.jpeg") no-repeat center center/cover;
    min-height: 100vh;
    overflow: hidden;
    align-items: center;
}

#texto{
    background-color: black;
    color: gold;
    display: block;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 500px;
    margin: auto;
    position: relative;
}